{% extends 'base.html' %}
{% block title %}Post statistics{% endblock %}

{% block page_body %}
<h4>Post statistics</h4>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <tr>
            <th scope="col">Period</th>
            <th scope="col">Total answers count</th>
        </tr>
        <tr>
            <th scope="row">All time</th>
            <td>{{ data.all_period }}</td>
        </tr>
        <tr>
            <th scope="row">Last year</th>
            <td>{{ data.last_year }}</td>
        </tr>
        <tr>
            <th scope="row">Last 3 months</th>
            <td>{{ data.last_3_months }}</td>
        </tr>
        <tr>
            <th scope="row">Last month</th>
            <td>{{ data.last_month }}</td>
        </tr>
        <tr>
            <th scope="row">Last week</th>
            <td>{{ data.last_week }}</td>
        </tr>
        <tr>
            <th scope="row">Last 24 hours</th>
            <td>{{ data.last_day }}</td>
        </tr>
    </table>
</div>
{% endblock %}